/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import 'font-awesome-sprockets';
 @import 'font-awesome';
 @import '../node_modules/bootstrap/scss/bootstrap';

.ui-sortable-handle{
  cursor: pointer;
}
.sign-in {
  width: 50%;
}

#admin_menu {
  ul{
    .active {
      background-color: #fffcf9;
      border-bottom-color: #fffcf9;
      font-weight: bold;
    }
  }

  .bootstrap-date {
    display: inline-block;
    width: auto;
  }
  .bootstrap-number {
    display: inline-block;
    width: 60px;
  }

}

.post-exercises {
    table {
      table-layout:fixed;

      th:nth-child(1) {
        width: 26%;
      }
      th:nth-child(2) {
        width: 20%;
      }
      th:nth-child(3) {
        width: 20%;
      }
      th:nth-child(4) {
        width: 34%;
      }

      td {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
}

body{
  @include font-size(1rem);
}

@media (max-width: 576px) {
  #admin_menu, input::placeholder, header li.nav-item, #visitor_menu p, #visitor_menu h6{
    font-size: 12px;
  }
  table.table{
    font-size: 11px;
  }
  body h2 {
    font-size: 28px
  }
  body h3 {
    font-size: 24px
  }
  body h4 {
    font-size: 20px
  }
  body h5 {
    font-size: 16px
  }

  .sign-in {
    width: 90%;
    font-size: 12px;
  }

  .content.mt-5 {
    margin-top: 1.5rem !important;
  }
  #admin_menu {
    .p-5 {
      padding: 1rem !important;
    }
    .form-control {
      font-size: 11px;
    }
  }

  #notification {
    label.btn-sm {
      font-size: 11px;
    }
  }
  .exercise-field-wrap {
    overflow-x: auto;
    white-space: nowrap;
  }


}
